In [18]:
import pandas as pd
import os
import math

In [14]:
data = pd.read_csv(os.path.join("data", "clean.csv.tgz"), compression='gzip',
                   header=None, names=["Created Date", "Closed Date", "Incident Zip"],
                   dtype={"Incident Zip": "str"})

In [11]:
def format_date(df):
    fmt = "%Y-%m-%d %H:%M:%S"
    for index in df.index:
        unformatted_created_date = df.loc[index, 'Created Date']
        df.loc[index, 'Created Date'] = pd.to_datetime(unformatted_created_date, format=fmt)

        unformatted_closed_date = df.loc[index, 'Closed Date']
        df.loc[index, 'Closed Date'] = pd.to_datetime(unformatted_closed_date, format=fmt)

        
def update_current_avg(lst, new_number):
    lst[1] = lst[1] + (new_number - lst[1]) / lst[0]
    lst[0] += 1


def get_monthly_averages(df, zipcode=None):
    month_dict = {k: [1, 0] for k in range(1, 13)}
    for index in df.index:
        if zipcode is not None:
            if df.loc[index, 'Incident Zip'] != zipcode:
                continue
        incident_month = df.loc[index, 'Created Date'].month
        diff = (df.loc[index, 'Closed Date'] - df.loc[index, 'Created Date']).total_seconds() / 3600  # (Hours)
        update_current_avg(month_dict[incident_month], diff)

    return month_dict

In [17]:
data.tail(n=50)

                Created Date          Closed Date Incident Zip
6411618  2020-06-09 13:24:00  2020-08-26 12:00:00        11356
6412159  2020-06-09 19:35:53  2020-09-10 08:33:58        11375
6412170  2020-08-05 10:15:16  2020-08-16 13:13:17        10016
6412511  2020-06-09 19:35:53  2020-09-10 08:33:58        11375
6412512  2020-06-08 16:41:00  2020-08-27 12:00:00        11226
6412516  2020-08-05 16:00:01  2020-08-05 16:01:00        11385
6412519  2020-06-09 11:21:49  2020-09-10 12:26:26        11366
6412575  2020-06-09 19:35:54  2020-09-10 08:33:58        11375
6413090  2020-06-09 19:35:53  2020-09-10 08:33:58        11375
6414345  2020-06-10 11:40:00  2020-08-28 12:00:00        11223
6421977  2020-06-11 12:45:00  2020-08-28 12:00:00        11428
6432036  2020-06-11 13:07:53  2020-09-10 10:13:17        11420
6433442  2020-06-11 22:48:35  2020-09-10 09:18:46        11373
6433474  2020-06-11 13:07:53  2020-09-10 10:13:17        11420
6462782  2020-06-12 11:03:00  2020-08-28 12:00:00        11232
6473858  2020-06-13 09:19:00  2020-08-28 12:00:00        11218
6477628  2020-06-13 15:53:52  2020-09-10 08:33:59        11357
6485186  2020-06-16 11:55:00  2020-08-28 12:00:00        11210
6509918  2020-06-17 09:18:09  2020-09-10 08:33:59        11375
6515038  2020-06-17 09:18:09  2020-09-10 08:33:59        11375
6516518  2020-06-17 09:18:09  2020-09-10 08:33:59        11375
6516706  2020-06-17 09:18:09  2020-09-10 08:33:59        11375
6521959  2020-06-18 12:11:00  2020-08-28 12:00:00        11218
6528136  2020-06-22 11:15:04  2020-09-10 08:33:59        11417
6549926  2020-06-19 00:55:59  2020-09-10 08:33:59        11418
6553336  2020-06-20 12:06:00  2020-08-28 12:00:00        11419
6567944  2020-06-20 19:40:00  2020-08-04 12:00:00        10306
6717505  2020-06-23 20:24:09  2020-09-10 08:34:00        11373
6743577  2020-06-22 11:15:04  2020-09-10 08:33:59        11417
6748138  2020-06-23 15:30:03  2020-08-30 09:04:35        11377
6758106  2020-06-23 20:24:09  2020-09-10 08:34:00        11373
6758593  2020-06-23 20:24:09  2020-09-10 08:34:00        11373
6787319  2020-06-25 07:16:36  2020-09-10 08:34:00        11433
6813733  2020-06-26 11:18:00  2020-08-21 12:00:00        11358
6823192  2020-06-26 17:03:56  2020-09-10 08:34:00        11421
6823436  2020-06-26 12:12:16  2020-09-10 11:22:28        11354
6833501  2020-06-26 12:12:16  2020-09-10 11:22:28        11354
6837615  2020-06-28 11:29:33  2020-09-10 09:18:49        11373
6848512  2020-06-30 12:18:29  2020-09-10 08:34:01        11375
6855485  2020-06-30 12:18:29  2020-09-10 08:34:01        11375
6866098  2020-08-05 02:37:52  2020-08-05 04:34:23        11236
6909535  2020-07-02 10:38:55  2020-09-05 11:59:24        11234
6921420  2020-07-03 15:13:00  2020-08-07 12:00:00        10314
6922970  2020-07-04 12:41:00  2020-08-28 12:00:00        11104
6948043  2020-07-09 09:01:57  2020-08-30 09:19:59        11691
6999321  2020-07-10 10:34:45  2020-08-26 00:00:00        10075
7000892  2020-08-05 14:55:52  2020-08-13 18:35:49        11221
7001481  2020-07-11 10:53:00  2020-08-21 12:00:00        11421
7079114  2020-07-16 12:00:23  2020-08-30 17:59:47        11691
7087032  2020-07-16 16:55:32  2020-09-05 13:28:38        11226

In [8]:
# data.reset_index(inplace=True, drop=True)

In [9]:
# data.head()

          Created Date          Closed Date Incident Zip
0  2020-07-20 10:51:12  2020-09-05 12:32:48        11234
1  2020-07-21 14:13:58  2020-09-05 13:37:31        11210
2  2020-07-27 12:56:33  2020-09-05 08:51:14        11354
3  2020-06-22 18:17:00  2020-06-23 08:59:00        10451
4  2020-06-21 03:30:00  2020-06-22 21:50:00        10031

In [13]:
format_date(data)

In [15]:
data.head()

               Created Date          Closed Date Incident Zip
13945   2020-07-20 10:51:12  2020-09-05 12:32:48        11234
71568   2020-07-21 14:13:58  2020-09-05 13:37:31        11210
168691  2020-07-27 12:56:33  2020-09-05 08:51:14        11354
431576  2020-06-22 18:17:00  2020-06-23 08:59:00        10451
431681  2020-06-21 03:30:00  2020-06-22 21:50:00        10031

In [25]:
(data.loc[13945, 'Closed Date'] - data.loc[13945, 'Created Date']).total_seconds() / 3600

1129.6933333333334

In [23]:
print(len(data['Incident Zip'].unique()))
u = data['Incident Zip'].unique()
for uniq in u:
    print(uniq)

236
11234
11210
11354
10451
10031
11364
10301
10016
10305
11217
10022
11103
10036
10017
10065
10075
10010
10023
10021
11377
10003
11379
10001
10009
11207
11237
10002
11104
10035
11373
11212
11213
10454
10128
11375
10004
10458
11230
10168
11238
11224
10453
10457
11236
11413
11415
11432
11361
11372
11419
10466
10472
10029
11691
11433
11204
10306
11412
11416
11694
10452
11434
10011
10040
10032
10460
10034
11221
11205
10459
11231
10033
11423
11422
11105
11233
11226
11216
10455
10473
10024
11360
10469
11418
11435
11219
11428
10468
11229
11218
11421
11203
10310
11225
11420
11378
10028
11427
10025
11211
10019
11208
10467
11693
11101
10456
11692
11429
11385
10302
10314
11369
11370
11102
10462
10463
11414
11106
11356
10012
10027
10470
10304
10014
11357
10309
10308
11214
10474
11367
11358
11374
10038
11436
11411
10312
10303
11368
11201
11215
11232
11220
11228
11223
11249
10465
11004
11209
10026
10461
11355
11235
10169
11206
11222
10039
10037
11417
11365
10013
10018
11426
10475
11109
11366
10464
10471
10007
10307
11362
10030
10121
11430
10005
10044
10282
11239
10173
11359
10280
10177
11001
10105
11040
10178
11363
10006
10069
11697
11005
12345
10171
10120
10020
10278
10119
10172
10281
10279
10041
10165
11695
11371
10162
10151
10103
10118
11242
10154
10152
10271
10110
10155
10000
10045
10123
10170
10166
10158
10179
11251
10122
10111
10055
10112
11241
10107
10176
10106
10115
10174
00083
10153
10048
10167
10175

In [29]:
test = {'All':{1:10, 2:20}, '11234': {1:5, 2: 10}}
test = pd.DataFrame(test)
test

   All  11234
1   10      5
2   20     10

In [10]:
averages = pd.read_csv("data/averages.csv")
averages

,Unnamed: 0,All,11234,11210,11354,10451,10031,11364,10301,10016,...,10107,10176,10106,10115,10174,00083,10153,10048,10167,10175
0,1,150.137506,289.905963,151.716193,173.098964,158.971188,96.064354,221.258224,124.537974,126.882233,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,152.161122,218.302558,165.369750,181.822904,164.873281,102.310941,166.042428,130.765222,190.732018,...,0.000000,196.566667,1.300000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,3,194.289746,196.195682,229.004250,178.490082,357.356031,259.139153,222.077830,175.962581,144.536281,...,18.682955,91.410648,60.316667,171.986944,411.517917,0.000000,0.000000,0.000000,0.000000,0.000000
3,4,119.639185,77.030295,122.502538,164.745881,119.526188,157.504727,132.357701,83.536299,85.916125,...,0.000000,0.000000,0.646667,0.000000,4.883611,1.199444,0.000000,0.000000,0.000000,0.000000
4,5,86.622876,86.844884,99.681985,111.517655,76.963320,75.480789,136.941470,79.854123,56.633509,...,21.411528,0.000000,0.000000,352.604583,0.099444,0.265417,0.000000,0.000000,0.000000,0.000000
5,6,86.894880,118.452725,139.670255,181.879559,61.169426,67.665631,151.761277,102.611341,112.590621,...,0.000000,0.000000,0.000000,1072.963611,0.000000,1.181389,184.843704,0.000000,0.000000,0.000000
6,7,99.540136,159.922891,175.679454,150.024108,72.836679,67.108135,146.167010,124.651115,109.143849,...,0.000000,0.000000,0.000000,389.757870,0.000000,0.000000,0.442130,0.000000,2.478056,2.005278
7,8,81.420627,147.328811,131.379867,141.144164,61.843252,57.906759,177.559650,75.908390,134.341073,...,2.859583,0.000000,0.000000,228.944907,0.000000,0.000000,0.191111,0.208611,0.000000,0.000000
8,9,23.597739,25.976679,32.055828,33.152147,21.198883,17.319060,35.231120,32.406956,62.504594,...,0.000000,0.000000,0.000000,0.000000,83.242778,0.000000,0.000000,7.650000,0.000000,0.000000
9,10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [42]:
averages = pd.read_csv("data/averages.csv")
for col in averages.columns:
    print(averages.loc[9][col])

10.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0

In [19]:
averages.replace(0, math.nan, inplace=True)

In [43]:
averages

,Unnamed: 0,All,11234,11210,11354,10451,10031,11364,10301,10016,...,10107,10176,10106,10115,10174,00083,10153,10048,10167,10175
0,1,150.137506,289.905963,151.716193,173.098964,158.971188,96.064354,221.258224,124.537974,126.882233,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,152.161122,218.302558,165.369750,181.822904,164.873281,102.310941,166.042428,130.765222,190.732018,...,0.000000,196.566667,1.300000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,3,194.289746,196.195682,229.004250,178.490082,357.356031,259.139153,222.077830,175.962581,144.536281,...,18.682955,91.410648,60.316667,171.986944,411.517917,0.000000,0.000000,0.000000,0.000000,0.000000
3,4,119.639185,77.030295,122.502538,164.745881,119.526188,157.504727,132.357701,83.536299,85.916125,...,0.000000,0.000000,0.646667,0.000000,4.883611,1.199444,0.000000,0.000000,0.000000,0.000000
4,5,86.622876,86.844884,99.681985,111.517655,76.963320,75.480789,136.941470,79.854123,56.633509,...,21.411528,0.000000,0.000000,352.604583,0.099444,0.265417,0.000000,0.000000,0.000000,0.000000
5,6,86.894880,118.452725,139.670255,181.879559,61.169426,67.665631,151.761277,102.611341,112.590621,...,0.000000,0.000000,0.000000,1072.963611,0.000000,1.181389,184.843704,0.000000,0.000000,0.000000
6,7,99.540136,159.922891,175.679454,150.024108,72.836679,67.108135,146.167010,124.651115,109.143849,...,0.000000,0.000000,0.000000,389.757870,0.000000,0.000000,0.442130,0.000000,2.478056,2.005278
7,8,81.420627,147.328811,131.379867,141.144164,61.843252,57.906759,177.559650,75.908390,134.341073,...,2.859583,0.000000,0.000000,228.944907,0.000000,0.000000,0.191111,0.208611,0.000000,0.000000
8,9,23.597739,25.976679,32.055828,33.152147,21.198883,17.319060,35.231120,32.406956,62.504594,...,0.000000,0.000000,0.000000,0.000000,83.242778,0.000000,0.000000,7.650000,0.000000,0.000000
9,10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [47]:
[averages.loc[i]['11234'] if averages.loc[i]['11234'] != 0 else math.nan for i in range(12)]

[289.90596341280553,
 218.30255821448705,
 196.195682319224,
 77.03029452819652,
 86.84488402602852,
 118.45272539682531,
 159.9228913418733,
 147.32881106825639,
 25.976678766507646,
 nan,
 nan,
 nan]